@using MyHandMadeShop.Common
@model MyHandMadeShop.Web.ViewModels.Items.ItemSingleViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<div class="single-recipe-layout1">
    <div class="ctg-name">@Model.ItemTypeName</div>
    <h2 class="item-title">@this.ViewData["Title"]</h2>
    <div class="row mb-4">
        <div class="col-xl-9 col-12">
                   
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    
                    
                        <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
                        </form>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    
                }
            
        </div>
    </div>
    <div class="item-figure">
        <img class="img-fluid w-50" src="@Model.ImageUrl" alt="@Model.Name" />
        <font size="+2"><li class="grey">@Model.Price лв.</li></font>
    </div>
    <div class="item-feature">
          
            
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="fa fa-list-ol"></i>
                        </div> 
                    </div>
                </div>
            
        
    </div>
    <div class="making-elements-wrap">
        <div class="row">
            <div class="col-md-6">
                <p class="item-description">
                    @Model.Description
                </p>
            </div>
            
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Do you want to delete "@Model.Name"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>